<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- hide for the moment    
    <link href="http://code.ionicframework.com/1.0.0-beta.1/css/ionic.min.css" rel="stylesheet">
    -->    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/angular.min.js"></script>
    <script src="js/db.js"></script>
    <script src="js/controllers.js"></script>
    <!---
  [ ] Common office hours show also time in second location
  [ ] what's the time in another location given an interval 
  [ ] above but show also reference with office hours, daylight etc 
  -->
  </head>
  <body ng-app="app">
    <div ng-controller="ViewCtrl" class="container" data-ng-init="init()">
      <!--
      SEARCH
      -->
      <div class="row">
        <div class="col-xs-4">
          <h3>Search for country:</h3><input class="centered" ng-model="search" text="Search"></input>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <label>Office hours
            <input type="checkbox" ng-model="checkboxModel.officeHours" ng-true-value="true" ng-false-value="false">
          </label>
          <label>Awake hours
            <input type="checkbox" ng-model="checkboxModel.awakeHours" ng-true-value="true" ng-false-value="false">
          </label>
          <label>Free hours
            <input type="checkbox" ng-model="checkboxModel.freeHours" ng-true-value="true" ng-false-value="false">
          </label>
        </div>
      </div>
      {{checkboxModel.officeHours}}
      <!--
      SELECTION
      -->
      <div class="row">
        <div class="selection col-xs-12">
          <div class="col-xs-3 country" ng-repeat="loc in temp.selection track by $index">
            <h5>{{loc.obj.country}}<small>({{loc.num}})</small> </h5>
          </div>
        </div>
      </div>
      <!--
      LIST
      -->
      <div class="row">
        <div class="list-countries col-xs-6">
          <table class="table table-hover">
            <tr ng-repeat="loc in locations | filter:search" ng-click="addcountry(loc);buildResult()">
              <td>{{loc.country}}</td><td>{{loc.zone}}</td>
            </tr>
          </table>
        </div>
        <!--
        RESULTs
        -->
        <div class="col-xs-6">
          <div class="office-hours" ng-show="results.showOfficeHours">
            Common <b>Office hours</b> refering to {{temp.selection[0].obj.country}}:</b>
            <table class="table table-hover">
              <tr ng-class="tableMatch(match)" ng-repeat="match in results.officeHours track by $index" >
                <td>{{match.start.time}}-{{match.end.time}}</td><td>({{match.country}} time)</td>
              </tr>
            </table>
          </div>
          <div class="awake-hours" ng-show="results.showAwakeHours">
            Common <b>Awake hours</b> refering to {{temp.selection[0].obj.country}}:
            <table class="table table-hover">
              <tr ng-class="tableMatch(match)" ng-repeat="match in results.awakeHours track by $index">
                <td>{{match.start.time}}-{{match.end.time}}</td><td>({{match.country}} time)</td>
              </tr>
            </table>
          </div>
          <div class="free-hours" ng-show="results.showFreeHours">
            Common <b>Awake hours</b> refering to {{temp.selection[0].obj.country}}:
            <table class="table table-hover">
              <tr ng-class="tableMatch(match)" ng-repeat="match in results.freeHours track by $index">
                <td>{{match.start.time}}-{{match.end.time}}</td><td>({{match.country}} time)</td>
              </tr>
            </table>
          </div>
      <!--<p>
      Daylight match {{from.country}} and {{to.country}}: {{getMatchingHours(from,to,"dayNight")}} ({{from.country}} time)
      </p>
      
      <div ng-repeat="loc1 in locations">
        <div ng-repeat="loc2 in locations">
          {{getOfficeHours(loc1,loc2)}}
        </div>
      </div>
      <br>
      {{getOfficeHours("Melbourne","London")}}<br>
      {{getOfficeHours("Melbourne","New York")}}</br>
      {{getOfficeHours("Melbourne","Rome")}}</br>
      <div class="" ng-repeat="time in data.timeZone">
        <b>{{time.location}}</b>({{time.zone}}) {{time.officeHours.start}}-{{time.officeHours.end}} (Melbourne time)
      </div>
      <br>
      Time Now
      <div class="" ng-repeat="time in data.timeZone">
        Location: {{time.location}} Now: {{time.time}} Date: {{time.date}} TimeZone: {{time.zone}} OfficeHours: {{time.officeHours.start}}-{{time.officeHours.end}} (Melbourne time)
      </div>
      <div class="table">
        <table class="table table-bordered">
          <tr>
            <td  class="active">...</td>
          </tr>
        </table>
      </div>
      <div class="chart"></div>
      <div class="" ng-repeat="time in officeHours">
        ({{time.zone}}) {{time.start1}}-{{time.end1}}  {{time.start2}}-{{time.end2}}
        <br>
      </div>
      -->
      
    </div>
  </body>
</html>
<style type="text/css">
  .list-countries{
    max-height: 300px;
    overflow: scroll;
  }
  .selection .country h5{
    background-color: steelblue;
    padding: 5px auto 5px;
  }

</style>
