<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <!-- hide for the moment    
    <link href="http://code.ionicframework.com/1.0.0-beta.1/css/ionic.min.css" rel="stylesheet">
    -->    
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="js/angular.min.js"></script>
    <script src="js/db.js"></script>
    <script src="js/controllers.js"></script>
    <!---
  [ ] Common office hours show also time in second location
  [ ] what's the time in another location given an interval 
  [ ] above but show also reference with office hours, daylight etc 
  -->
  </head>
  <body ng-app="app">
    <div ng-controller="ViewCtrl" class="" data-ng-init="init()">
      <input ng-model="search" text="Search">Search</input>
      <table class="table table-hover">
        <tr ng-repeat="loc in locations | filter:search" ng-click="addcountry(loc);getMatchingHours('officeHours')">
          <td>{{loc.country}}</td><td>{{loc.zone}}</td>
        </tr>
      </table>
      <div class="selection">
        <div class="col-xs-3" ng-repeat="loc in temp.selection track by $index">{{loc.obj.country}} ({{loc.num}})</div>
      </div>
      <!--<select ng-model="from" ng-options="loc1.country for loc1 in locations track by loc1.country"></select>
      from
      <select ng-model="to" ng-options="loc1.country for loc1 in locations track by loc1.country"></select>
      <p>
      -->
      <div class="clearfix"></div>
      <p>
      Common office office hours refering to {{temp.selection[0].obj.country}}:
      </p>
      <p ng-repeat="match in temp.matchHours track by $index" ng-show="temp.matchReady">
        {{match.start.time}}-{{match.end.time}} ({{match.country}} time)
        
      </p>
      </div>
      <!--<p>
      Daylight match {{from.country}} and {{to.country}}: {{getMatchingHours(from,to,"dayNight")}} ({{from.country}} time)
      </p>
      
      <div ng-repeat="loc1 in locations">
        <div ng-repeat="loc2 in locations">
          {{getOfficeHours(loc1,loc2)}}
        </div>
      </div>
      <br>
      {{getOfficeHours("Melbourne","London")}}<br>
      {{getOfficeHours("Melbourne","New York")}}</br>
      {{getOfficeHours("Melbourne","Rome")}}</br>
      <div class="" ng-repeat="time in data.timeZone">
        <b>{{time.location}}</b>({{time.zone}}) {{time.officeHours.start}}-{{time.officeHours.end}} (Melbourne time)
      </div>
      <br>
      Time Now
      <div class="" ng-repeat="time in data.timeZone">
        Location: {{time.location}} Now: {{time.time}} Date: {{time.date}} TimeZone: {{time.zone}} OfficeHours: {{time.officeHours.start}}-{{time.officeHours.end}} (Melbourne time)
      </div>
      <div class="table">
        <table class="table table-bordered">
          <tr>
            <td  class="active">...</td>
          </tr>
        </table>
      </div>
      <div class="chart"></div>
      <div class="" ng-repeat="time in officeHours">
        ({{time.zone}}) {{time.start1}}-{{time.end1}}  {{time.start2}}-{{time.end2}}
        <br>
      </div>
      -->
      
    </div>
  </body>
</html>
<style type="text/css">
  .chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
</style>
